.post-list {
  
}

.full-post {
  border-radius: 100px;
  border-color: rgb(73, 73, 73);
  border-style: solid;
  border-width: 1px;
  margin: 2rem;
  margin-right: 15rem;
  margin-left: 15rem;
  padding: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: left;
}

.post-body {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Avenir-Book'; 
  font-size: 25px;
}